@media(min-width:550px){
    .container{
        height: 85vh;
    }
    .section1{
        height: 40%;

    }
    .section2{
        height: 60%;

    }
    .item{
        width: 50%;
    }
    iframe{
        height: 100%;
        width: 100%;
    }
}
